<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login - Arrow Enterprise</title>
</head>
<body>

    <div class="animated-background"></div>

<header>
    <h1>Arrow</h1>
</header>

<section class="login-section">
    <h2>Login to Your Account</h2>
    <form id="login-section">
        <label for="loginUsername">Username:</label>
        <input type="text" id="loginUsername" name="loginUsername" required>

        <label for="loginPassword">Password:</label>
        <input type="password" id="loginPassword" name="loginPassword" required>

        <button type="submit">Login</button>
    </form>
    <script src="/login.js"></script>
    <p>Don't have an account?<a href="/signup">Sign up here</a>.</p>
    <p><a href="/index"/>Back to home.</p>
</section>

    <div id="redirectedPage"></div>

<footer>
    <p>&copy; 2024 Arrow Enterprise. All rights reserved.</p>
</footer>

</body>
</html>
