
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>Members added</title>
    <link href="/css/newtree.css" rel="stylesheet" type="text/css"/>
    
</head>
<body>
<div class="container">
    <div class="row">
        <div class="tree" id="treeContainer">
            <!-- Tree will be populated dynamically here -->
        </div>
    </div>
</div>

<script src="/js/newtree.js"></script>
<footer>
    <p>&copy; 2024 Arrow Enterprise. All rights reserved.</p>
</footer>
</body>
</html>
