<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>withdrawal..</title>
    <link rel="stylesheet" href="/css/depositPage.css">
</head>
<body>

<div class="container">
    <h2>Put the withdrawal amt</h2>
    <div class="input-group">
        <label for="amount">Enter Amount:</label>
        <input type="number" id="amount" placeholder="Enter amount">
    </div>
    <button onclick="submitDepositRequest()">Withdraw</button>
</div>
<script src="/js/withdrawal.js"></script>
<footer>
    <p>&copy; 2024 Arrow Enterprise. All rights reserved.</p>
</footer>
</body>
</html>
